@if (isOpen()) {
<div class="dialog">
        <button (click)="close()" class="close">
            X
        </button>
        <p>Este sitio web se encuentra aún en desarrollo, por lo que algunos productos no tienen imagen asociada, si necesita más información acerca de alguno de nuestros 
            productos, contáctenos a través del botón de WhatsApp disponible en cada producto, o mediante la sección de Contacto disponible al final de la página. GRACIAS!
        </p>
    </div>
}@else {
        <button (click)="open()" class="float-button">
            +
        </button>
}
