/* .categoria-list {
  list-style: none;
  padding: 7px 0;
  width: 100%;
}

.categoria-list-inicial {
  list-style: none;
  padding: 7px 0;
}

.categoria-link {
  color: aliceblue;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 92%;
  margin: 0 auto;
  position: relative;
}

.categoria-cantidad {
  text-align: right;
  width: 50px;
  display: flex;
  justify-content: space-between;
}

.categoria-icon {
  width: 20px;
  padding: 0 5px;
}
.flecha {
  width: 15px;
  transform: var(--transform, rotate(90deg));
  transition: transform 0.3s ease-in-out;
}
/* .flecha-inicial {
  width: 15px;
  transform: var(--transform, rotate(270deg));
  transition: transform 0.3s ease-in-out;
} */

/* .categoria-label {
  width: 100%;
  padding-left: 5px;
}

.categoria-label:hover {
  cursor: pointer;
}

.categoria-list:has(:checked) {
  --rows: 1fr;
  --transform: rotate(270deg);
}

.categoria-check {
  position: relative;
  opacity: 0;
  cursor: pointer;
}

.categoria-content {
  display: grid;
  grid-template-rows: var(--rows, 0fr);
  transition: 0.3s grid-template-rows;
}


.categoria-items {
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
}

.categoria-item {
  list-style: none;
  margin: 5px auto;
}  */






.productos-showcase {
  padding: .3rem;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

.card {
  background-color: rgba(255, 255, 255, 0.86);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .6rem;
  cursor: pointer;
}

.card-header h2 {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
}

.card-header button {
  background: none;
  border: none;
  cursor: pointer;
}

.chevron {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-right: 2px solid #666;
  border-bottom: 2px solid #666;
  transform: rotate(45deg);
  transition: transform 0.3s;
}

.chevron.up {
  transform: rotate(-135deg);
}

.card-content {
  padding: .5rem;
  border-top: 1px solid #eee;
}

.productos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: .8rem;
}

@media (min-width: 768px) {
  .productos-showcase {
    padding: 2rem;
  }

  .card-header h2 {
    font-size: 1.5rem;
  }

  .productos-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1.5rem;
  }

}

@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
  }

  .productos-grid {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }
}
